<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/form.css">
</head>

<body>
    {{> navbar}}
    <div class="form-container">
        <h1 class="form-title">Add Job</h1>
        <form action="/jobs/add" method="POST" class="job-form">

            <label class="form-label">Company Name:</label>
            <input type="text" name="company" required class="form-input"><br>

            <label class="form-label">Position:</label>
            <input type="text" name="position" required class="form-input"><br>

            <label class="form-label">Location:</label>
            <input type="text" name="location" required class="form-input"><br>

            <label class="form-label">Job Type:</label>
            <select name="job_type" required class="form-select">
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Internship">Internship</option>
                <option value="Freelance">Freelance</option>
            </select><br>

            <label class="form-label">Last Date to Apply</label>
            <input type="date" name="application_date" required class="form-input"><br>

            <label class="form-label">Job Description</label>
            <textarea name="notes" rows="4" cols="50" class="form-textarea"></textarea><br>

            <button type="submit" class="submit-button">Add Job</button>
        </form>
    </div>
</body>

</html>
